.content_nav{
    height: 95vh;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/** 
  * ! STYLE carrousel DANS HEADER
**/
.slide_show{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.prev_btn{
    position: absolute;
    left: .5em;
    font-size: 3em;
    top:40%;
    color: white;
    z-index: 10;
}
.next_btn{
    position: absolute;
    right: .5em;
    font-size: 3em;
    top:40%;
    color: white;
    z-index: 10;
}
.next_btn:hover,.prev_btn:hover{
    color: white;
}
.slide_caption_texte{
    position: absolute;
    top: 35%;
   left: 50%;
   transform: translateX(-50%);

}
.button_slide{
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    font-size: 1.2em;
}
.button_slide:hover{
    background: rgb(255, 255, 255);
    
}
.button_slide:hover a{
    color: rgb(93, 214, 140);
}
button a{
    text-decoration: none;
    color: white; 
}
.button_slide_get a{
    color: rgb(73, 136, 73);
}

.button_slide_get{
    width: 250px;
    height: 50px;
    background: white;
    color: rgb(65, 139, 65);
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
}
.button_slide_get:hover{
    background: transparent;
    border: 2px solid white;
}
.button_slide_get:hover a{
    color: white;
}





/** 
  * ! STYLE carrousel DANS HEADER
**/

/** 
  * ! STYLE MENU LISTE UL DANS HEADER
**/
.my_nav_bar {
    position: absolute;
    width: 98%;
    z-index: 1;

}

ul{
    list-style: none;
}
ul li{
    margin:0 1em;
    padding:1.5em 0;
}
ul li a{
    text-decoration: none;
    padding:1.5em 0;
    color: white;
}
.listes li:first-child a{
    color: rgb(207, 207, 207);
    font-weight: 300;
}
.listes li a{
    font-weight: 300;
}
.dropdown_liste::after{
    content: "v";
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    color: white;
    margin-left: .3em;
}

.sub_list_dropdown a{
    display: block;
    padding: .5em 1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.068);
    color: rgb(80, 79, 79);
}
.sub_list_dropdown a:hover{
    color: rgb(144, 236, 144);
}
.sub_list_dropdown{
    background-color: white;
    width: 200px;
   position: absolute;
   top: 80px;
   display: none;
   transition: 0.6s ease;
   animation-name: show;
   animation-duration: 0.5s;
   animation-direction: alternate;
}
.dropdown_liste:hover .sub_list_dropdown{
    display: block; 
}
 @keyframes show {
     from{
         top: 150px;
         opacity: 0;
     }
     to{
        top: 80px;
        opacity: 1;
     }
 }

.recherche{
    color:green;
    background-color: white;
    padding: .5em;
}
.recherche:hover{
    color:green;
}
.barre_menu{
    display: none;
}

.barre_menu span{
    width: 30px;
    height: 4px;
    background: black;
    display: block;
    margin-bottom: .2em;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.barre_menu span:first-child{
    width: 22px;
}
.barre_menu span:nth-child(3){
    width: 22px;
}

.recherche_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: -200%;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.836);
    z-index: 10;
    transition: all 0.6s ease-in-out;
}
.show_modal{
    top:0;
}

.recherche_modal .div_close{
    position: absolute;
    right: 1em;
    top: 1em;
    padding: .1em .5em .3em .5em;
    border-radius: 50%;
    font-size: 2.5em;
    background:rgb(105, 218, 105); 
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.493);
    cursor: pointer;
}

.recherche_modal .div_input{
  text-align: center;
  margin: 15em 0;
}
.recherche_modal .input input{
    width: 100%;
    padding: 0 1em;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 3em;
}
::placeholder{
    font-size:1.3em;
    text-align: center;
    font-weight: 400;
}
.my_btn{
    width: 130px;
    height: 45px;
    font-weight: 600;
    background: rgb(100, 236, 100);
    border-radius: 25px;
}
.content_nav{
    position: relative;
    overflow: hidden;
}
.content_nav .btn_descendre{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    z-index: 8;
    
}
.content_nav .btn_descendre i{
    background: rgb(103, 199, 103);
    padding: .5em;
    border-radius: 50%;
}
/** 
  * ! STYLE MENU LISTE UL DANS HEADER
**/

/** 
  * ! STYLE SECTION SUBSCRIRE
**/
.subscrire{
    height: 50vh;
    background: url(images/resul-mentes-DbwYNr8RPbg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** 
  * ! STYLE SECTION SUBSCRIRE
**/


/** 
  * ! STYLE SECTION ABOUT US
**/
.section_about_us .my_btn{
    height: 50px;
    border: none;
    background: rgb(102, 163, 102);
    width: 260px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    transition: all 0.6s ease;
}
.section_about_us .my_btn:hover{
    width: 269px;
}
.section_about_us .my_btn:hover i{
   transform: translateX(30px);
   transition: all 0.6s ease;
}

.about_us_texte{
   display: flex;
   place-items: center;
   justify-content: center;
}
.about_us_texte p{
    margin-bottom: 1em;
    font-size: 1.2em;
    color: rgb(167, 167, 167);
    
}

/** 
  * ! STYLE SECTION ABOUT US
**/

/** 
  * ! STYLE SECTION OUR_PROJETS
**/


.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.our_projets_text a{
    display: block;
    text-decoration: none;
    color: grey;
}
.our_projets_images{
    padding: 2em;
    flex: 4;
}
.our_projets_text a:hover{
    color: rgb(71, 163, 71);
}
.our_projets_text{
    flex: 1;
}
/** 
  * ! STYLE SECTION OUR_PROJETS
**/

/** 
  * ! STYLE SECTION DIGITAL_TEAM
**/
.digital_team{
    height: 100vh;
    background: rgb(139, 86, 209);
}
/** 
  * ! STYLE SECTION DIGITAL_TEAM
**/

/** 
  * ! STYLE SECTION APPRENDRE_PLUS
**/
.apprendre_plus a{
    text-decoration: none;
    color: black;
}
.apprendre_plus a:hover{
    color: green;
    
}
.apprendre_plus a:hover i{
     transform: translateX(10px);
     transition: all 0.6s ease-in-out;
}
/** 
  * ! STYLE SECTION APPRENDRE_PLUS
**/

/** 
  * ! STYLE SECTION SUBSCRIRE
**/
.input_formulaire{
text-align: center;
}
.input_formulaire input{
    width: 40%;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    background-color: transparent;
    border-radius: 30px;
    padding-left: 1em;
}
.input_formulaire button{
    background: white;
}
.subscrire_now{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: rgb(73, 158, 73);
}
.subscrire_now:hover{
    color: white;
    background: rgb(73, 158, 73);
}
.input_formulaire ::placeholder{
    text-align: left;
    color: white;
    font-size: 1em;
}



/** 
  * ! STYLE SECTION SUBSCRIRE
**/

/** 
  * ! STYLE SECTION CONTACTS US
**/
.contacts_us{
    height: 100vh;
    background: url(images/worlddot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts_us_texte{
    flex: 1;
}
.contacts_us_formulaire{
    flex: 2;
}
.contacts_us_formulaire input{
    width: 40%;
    height: 50px;
    border: 1px solid rgb(182, 182, 182);
    outline: none;
}
.contacts_us_formulaire div{
    margin: 1em 0;
}
.contacts_us_formulaire textarea{
    width: 80%;
    border: 1px solid rgb(182, 182, 182);
    outline: none;
    height: 10em;
}
.contacts_us_formulaire ::placeholder{
    text-align: left;
    font-weight: lighter;
    font-size: 1em;
}
.my_button{
    height: 50px;
    border: none;
    background: rgb(102, 163, 102);
    width: 220px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    transition: all 0.6s ease;
}
.my_button:hover{
    width: 235px;
}
.my_button:hover i{
   transform: translateX(10px);
}

/** 
  * ! STYLE SECTION CONTACTS US
**/

/** 
  * ! STYLE FOOTER
**/
.my_footer{
    padding: 5em;
    background:linear-gradient(90deg,rgb(78, 148, 148),rgba(0, 151, 101, 0.801));
}
.my_footer .logo .my_logo a{
text-decoration: none;
}

/** 
  * ! STYLE FOOTER
**/

/** 
  * ! STYLE MAX-WIDTH:1024px
**/
@media (max-width:1020px) {
    .our_projets{
      flex-direction: column;
    }
    .our_projets .our_projets_text a{
        display: inline-block;
    } 
    .content_nav{
        height: 100vh;
    }
}
/** 
  * ! STYLE MAX-WIDTH:999px
**/
@media (max-width:999px) {
    .my_nav_bar{
        flex-direction: column;
    }
    .my_nav_bar h1{
    align-self: flex-start;
    margin:0 0 1em 0;
    }
    .our_projets_images{
        height: 100%;
    }
    
}
/** 
  * ! STYLE MAX-WIDTH:850px
**/

@media (max-width:850px) {
    .content_nav {
        height: 100vh;
        background: white;
    }
    .slide_caption_texte{
        top: 25%;
    }
    .my_nav_bar{
        position: absolute;
        display: none;
        width: 100%;
        top: 0;
    }
    
    .barre_menu{
        display: block;
        position: absolute;
        right: 1em;
        top: 1.3em;
        transition: 0.6s ease;
    }
    .listes{
        flex-direction: column;
        background: white;
        width:80%;
        position: absolute;
        top: -800%;
        transition: all 0.8s ease-in-out;
    }
    ul li a{
        color: black;
        font-weight: bold;
    }
    .show_listes{
        top: 50px;
        transition: 0.9s ease-in-out ;
    }
    .show_close span:nth-child(2){
            opacity: 0;
            transition: 0.6s ease;
    }
    .show_close span:nth-child(1){
        width: 30px;
        transform: rotate(60deg) translateY(12px);
        transition: 0.6s ease;
    }
    .show_close span:nth-child(3){
        width: 30px;
        transform: rotate(-60deg) translateY(-12px);
        transition: 0.6s ease;
    }
    .contacts_us{
        flex-direction: column;
        height: 100%;
    }
    .contacts_us .contacts_us_formulaire input{
      width: 100%;
      margin-bottom: 1em;
      height: 60px;
    }
    .contacts_us .contacts_us_formulaire textarea{
        width: 100%;
    }
    .my_footer{
        flex-direction: column;
        align-items: center;
    }
    .my_footer *{
        margin: .6em 0;
    }  
}
/** 
  * ! STYLE MAX-WIDTH:850px
**/


/** 
  * ! STYLE MAX-WIDTH:500px
**/
@media (max-width:500px) {
  .subscrire{
      height: 40%;
  }  
.subscrire_now{
    width: 190px;
    height: 50px;
    font-size: .8em;
    display: block;
    margin: 2em auto;
}
.contacts_us_formulaire{
    padding: 2em;
}
.input_formulaire input{
    width: 100%;
}


}



/** 
  * ! STYLE MAX-WIDTH:500px
**/